**

!/LICENSE
!/manage.py
!/poetry.lock
!/pyproject.toml
!/sensors/static
!/sensors/templates
!/sensors/migrations
!/sensors/management
!/sensors/**/*.py
!/package.json
!/package-lock.json

!/assets/**/*.ts
