<!DOCTYPE html>
<html>
<body>

    <p><a href="{% url 'admin:index' %}">Admin</a></p>
    <p><a href="{% url 'api-root' %}">API</a></p>

    <style>
        #temperature_chart, #humidity_chart,
        html,
        body {
        width: 100%;
        }
        #temperature_chart, #humidity_chart {
        height: 500px;
        }
    </style>
    <div class="chart" id="temperature_chart"></div>
    <div class="chart" id="humidity_chart"></div>
    {% load static %}
    <script src="{% static 'main.js' %}"></script>
</body>
</html>
