{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'main.css' %}">
    </head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Sensors</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'admin:index' %}">Admin</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'api-root' %}">API</a>
            </li>
        </ul>
        </div>
    </div>
    </nav>
    <div class="container py-4 px-3 mx-auto">
        <div id="app"></div>
    </div>
    <script src="{% static 'main.js' %}"></script>
</body>
</html>
